<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Name</key>
	<string>Set Slack Status</string>
	<key>Script</key>
	<string>default.sh</string>
	<key>Icon</key>
	<string>icon.png</string>
	<key>Title</key>
	<string>Set Slack Status</string>
	<key>Results</key>
	<string>None|Window|Briefly|Typing|Pasting|Variable|Clipboard</string>
	<key>Parameters</key>
	<array>
		<dict>
			<key>Label</key>
			<string>OAuth token</string>
			<key>Type</key>
			<string>TokenString</string>
		</dict>
		<dict>
			<key>Label</key>
			<string>Status emoji</string>
			<key>Type</key>
			<string>TokenString</string>
			<key>Default</key>
			<string>:spiral_calendar_pad:</string>
		</dict>
		<dict>
			<key>Label</key>
			<string>Status text</string>
			<key>Type</key>
			<string>TokenString</string>
			<key>Default</key>
			<string>In a meeting</string>
		</dict>
		<dict>
			<key>Label</key>
			<string>Clear after x hours</string>
			<key>Type</key>
			<string>Calculation</string>
		</dict>
	</array>
</dict>
</plist>
